$color1: #572ee5;
$color1dt: #37383c;
$color2: #50e3c2;
$color3: #f3f5f8;
$font1: "Montserrat", sans-serif;
$font2: "Roboto", sans-serif;
//===============================================reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
