* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.display {
  display: none;
}

#poke_carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poke-container {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
}
